@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');
@font-face {
    font-family: 'Segoe UI';
    src: url('../fonts/Segoe_UI_Bold.ttf') format("truetype");
}
body, html{
    height: 100%;
    margin: 0;
}
.color{
    position: absolute;
    height: 200px;
    width: 200px;
    background-color: green;
}
.page-break {
    page-break-after: always;
}
/*IMAGEN DE PIE DE PAGINA*/
.body_page{
    height: 1122px;
    width: 100%;
    top: 0%;
}
.body2_page{
    width: 100%;
    position: absolute;
    height: 1125px;
    top: 0;
    /* bottom: 20px;
    margin-left: -20px; */
}
.img_body_page{
    position: absolute;
    left: 310px;
    top: 50px;
    width: 600px;
}
.box1_page{
    position: absolute;
    width: 100%;
    height: 80px;
    top: 450px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 70px;
    line-height: 80px;
    /* identical to box height */
    color: #FFFFFF;
    text-align: center;
    /* background-color: rgb(46, 196, 38); */
    right: 150px;
}
.box2_page{
    position: absolute;
    width: 262px;
    height: 27px;
    left: 100px;
    top: 41px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
}
.box4_page{
    /* position: absolute; */
    /* width: 207px; */
    /* height: 31px; */
    /* right: 50px; */
    /* top: 38px; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 33px;
    /* text-align: right; */
    /* background-color: yellow; */
}


/*PAGINA 1*/
.body1_page1{
    position: relative;
    height: 42.7%;
    width: 100%;
    background-color: rgb(46, 196, 38);
}
.box1_page1{
    position: absolute;
    width: 560px;
    height: 122px;
    left: 115px;
    top: 250px;
    padding: 0%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* font-family: 'Segoe UI'; */
    font-style: normal;
    font-weight: bold;
    font-size: 59px;
    line-height: 104.06%;
    /* or 61px */
    text-align: center;
    color: #FFFFFF;
}
.box2_page1{
    position: absolute;
    width: 159px;
    height: 32px;
    left: 320px;
    top: 390px;
    background: #4157BD;
    border-radius: 8px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    /* identical to box height */
    letter-spacing: 0.01em;
    text-align: center;
    color: #FFFFFF;
    padding: 5px 0px 0px 0px;
}
.img_page1{
    position: absolute;
    left: 150px;
    top: 420px;
    width: 70%;
}
/*----------------------------*/
/*PAGINA 2*/
.body1_page2{
    position: relative;
    height: 76.6%;
    width: 100%;
    background-color: red;
}

/*--------------------------------*/
/*PAGINA 3*/
.body1_page3{
    position: relative;
    height: 81.1%;
    width: 100%;
    background-color: white;
}
#color_page3{
    /* color: #E41A37; */
}

.box2_page3{
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    line-height: 12px;
    color: #A8A6AC;

    position: absolute;
    right: 57px;
    top: 93px;
}

.box4_page3{
    position: absolute;
    left: 20px;
    right: 20px;
    margin-bottom: 40px;
    top: 100px;
    width: 100%;
    /* height: 90%; */
    /* display: flex; */
    /* background-color: turquoise; */
}
.box_table{ 
    position: relative;
    /* width: 90%; */
    width: 350px;
    height: 210px;
    margin: -10px 8px 30px 8px;
    /* background-color: tomato; */
    box-sizing: border-box;
    border-radius: 20px;
}
.last_box{
    width: 45%;
    margin: 0 auto;
}
#box_table_color_page3{
    border: 1px solid #E41A37;
}
.columna{
    width: 352px;
    /* background-color: yellow; */
}
.big_text{
    /* background-color: tomato; */
    margin-top: -20px;
    margin-bottom: 40px;
}
.text1{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    /* font-weight: 500; */
    font-size: 13px;
    line-height: 15px;
    display: flex;
    align-items: center;
    text-align: center;
}
#text1_color_page3{
    /* color: #E41A37; */
}
#text1_color_page5{
    color: #B21B86;
}
#text1_color_page7{
    color: #91C559;
}
#text1_color_page9{
    color: #876796;
}
#text1_color_page11{
    color: #0C3562;
}
#text1_color_page13{
    color: #378AC0;
}
.text2{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    /* font-weight: 900; */
    font-size: 10px;
    line-height: 12px;
    display: flex;
    align-items: center;
    text-align: center;
}
#text2_color_page3{
    /* color: rgba(228, 26, 55, 0.7); */
}
#text2_color_page5{
    color: rgba(178, 27, 134, 0.7);
}
#text2_color_page7{
    color: rgba(145, 197, 89, 0.7);
}
#text2_color_page9{
    color: rgba(135, 103, 150, 0.7);
}
#text2_color_page11{
    color: rgba(12, 53, 98, 0.7);
}
#text2_color_page13{
    color: rgba(55, 138, 192, 0.7);
}
.text3{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    /* font-weight: 900; */
    font-size: 9px;
    line-height: 11px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FDA019;
}
.box_table_img{
    /* background-color: violet; */
    height: 16%;
    margin-top: -10px;
}
.img_products{
    position: relative;
    padding-top: 12px;
    height: 120px;
    /* border: 1px solid #E41A37; */
    width: 170px;
    /* background-color: rgb(30, 189, 102); */
}
.img_product{
    position: relative;
    width: 75%;
}
.text1_product1{
    position: relative;
    /* top: 10px; */
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    /* font-weight: 900; */
    font-size: 13px;
    line-height: 12px;
    align-items: center;
    text-align: center;
    /* background-color: bisque; */
    color: #4D4D4D;
    margin-top: -5px;
}
.text2_product1{
    position: relative;
    /* top: 10px; */
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 11px;

    align-items: center;
    text-align: center;
    /* background-color: chartreuse; */
    color: #A8A6AC;
}
.text_free_product1{

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 9px;
    line-height: 11px;
    align-items: center;
    text-align: center;
    /* background-color: yellow; */
    color: white;
    margin-bottom: 15px;
    margin-top: 0%;
}
.text_free_product2{

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    /* font-weight: 900; */
    font-size: 9px;
    line-height: 11px;
    align-items: center;
    text-align: center;
    /* background-color: yellow; */
    color: #F93258;
    margin-bottom: 15px;
    margin-top: 0%;
}

.text_free_product2_white{

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    /* font-weight: 900; */
    font-size: 9px;
    line-height: 11px;
    align-items: center;
    text-align: center;
    /* background-color: yellow; */
    color: #FFFFFF;
    margin-bottom: 15px;
    margin-top: 0%;
}

.text1_product2{
    position: relative;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    /* font-weight: 900; */
    font-size: 13px;
    line-height: 12px;

    align-items: center;
    text-align: center;
    /* background-color: bisque; */
    color: #4D4D4D;
    margin-top: -5px;
}
.text2_product2{
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 11px;

    align-items: center;
    text-align: center;
    /* background-color: chartreuse; */
    color: #A8A6AC;
}

/*PAGINA 5*/
#color_page5{
    color: #B21B86;
}
#box_table_color_page5{
    border: 1px solid #B21B86;
}
/*PAGINA 7*/
#color_page7{
    color:  #91C559;
}
#box_table_color_page7{
    border: 1px solid #91C559;
}
/*PAGINA 9*/
#color_page9{
    color:  #876796;
}
#box_table_color_page9{
    border: 1px solid #876796;
}
/*PAGINA 11*/
#color_page11{
    color:  #0C3562;
}
#box_table_color_page11{
    border: 1px solid #0C3562;
}
/*PAGINA 12*/
.box1_page12{
    position: absolute;
    width: 178px;
    height: 80px;
    right: 180px;
    top: 680px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 59px;
    line-height: 80px;
    /* identical to box height */
    color: #FFFFFF;
    text-align: center;
    /* background-color: rgb(46, 196, 38); */
}
/*PAGINA 13*/
#color_page13{
    color:  #378AC0;
}
#box_table_color_page13{
    border: 1px solid #378AC0;
}
.circle_page3{
    /* position: absolute; */
    width: 30px;
    height: 30px;
    /* left: 33px;
    top: 35px; */
    /* color: #E41A37; */
    font-size: 30px;
}
.circle_page5{
    position: absolute;
    width: 30px;
    height: 30px;
    left: 33px;
    top: 35px;
    color: #B21B86;
    font-size: 30px;
}
.circle_page7{
    position: absolute;
    width: 30px;
    height: 30px;
    left: 33px;
    top: 35px;
    color: #91C559;
    font-size: 30px;
}
.circle_page9{
    position: absolute;
    width: 30px;
    height: 30px;
    left: 33px;
    top: 35px;
    color: #876796;
    font-size: 30px;
}
.circle_page11{
    position: absolute;
    width: 30px;
    height: 30px;
    left: 33px;
    top: 35px;
    color: #0C3562;
    font-size: 30px;
}
.circle_page13{
    position: absolute;
    width: 30px;
    height: 30px;
    left: 33px;
    top: 35px;
    color: #378AC0;
    font-size: 30px;
}

.ColumnaUno-Tabla{
    /* background-color: #0C3562;
    width: 25%;
    height: 100vh; */
}





.Primera-Columna-Pdf-Promociones{
    /* background-color: #0C3562; */
    width: 25%;
    height: 100%;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 20px;
}

.Segunda-Columna-Pdf-Promociones{
    /* background-color: red; */
    width: 25%;
    height: 100%;
    left: 24%;
    top: 0;
    position: absolute;
    margin-left: 10px;
    margin-top: 20px;
    /* border-right: 1px dashed red; */
}

.Tercera-Columna-Pdf-Promociones{
    /* background-color: black; */
    width: 25%;
    height: 100%;

    left: 49%;
    top: 0;
    position: absolute;
    margin-top: 20px;
    margin-left: 10px;
}

.Cuarta-Columna-Pdf-Promociones{
    /* background-color: green; */
    width: 25%;
    height: 100%;

    left: 73%;
    top: 0;
    position: absolute;
    margin-top: 20px;
}


.Contenedor-Titulo-Canal-Pdf-Promociones{
    /* background-color: green; */
    width: 100%;
    height: 50px;
    margin-bottom: 5px;
}

.Titulo-Canal-Pdf-Promociones{
    margin-left: 30%;
    padding-top: 7px;

    width: 125px;
    height: 23.23px;
    /* background-color: #E41A37; */
    border-radius: 11px;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    /* font-weight: 500; */
    font-size: 15px;
    line-height: 15px;
    color: #FFFFFF;
    align-items: center;
    text-align: center;
}

.fila{
    margin-bottom: -20px;
}

.img-no-hay-promocion{
    width: 65px;
    margin-top: 60px;
}

.Txt-No-Hay-Promocion{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 14px;
    line-height: 16px;

    /* color: rgba(228, 26, 55, 0.7); */
}






/* A4 */

.Titulo-Canal-Pdf-Promociones-A4{
    margin-left: 65%;
    padding-top: 7px;

    width: 121px;
    height: 23.23px;
    /* background-color: #E41A37; */
    border-radius: 11px;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    /* font-weight: 500; */
    font-size: 13px;
    line-height: 15px;
    color: #FFFFFF;
    align-items: center;
    text-align: center;
}


.Segunda-Columna-Pdf-Promociones-A4{
    /* background-color: red; */
    width: 25%;
    height: 100%;
    left: 45%;
    top: 0;
    position: absolute;
    margin-left: 0px;
}

.body2_page-A4{
    width: 100%;
    position: absolute;
    bottom:  80px;
    margin-left: -20px;
}


.box4_page3-A4{
    position: absolute;
    left: 20px;
    right: 20px;
    margin-bottom: 40px;
    top: 120px;
    width: 100%;
    /* height: 90%; */
    /* display: flex; */
    /* background-color: turquoise; */
}

.box_table-A4{

    position: relative;
    width: 90%;
    height: 220px;
    margin: -10px 8px 40px 8px;
    /* background-color: tomato; */
    box-sizing: border-box;
    border-radius: 20px;

}

.big_text-A4{
    margin-top: 20px;
    margin-bottom: 10px;
}

.Contenedor-izquierda-pdf{
    /* background-color: red; */
    right: 50px;
    /* width: 200px; */
    /* height: 50px; */
    top: 55px;
    position: absolute;
}

/* EXPIRACION FECHA */

.Fecha-Expiracion-Promocion-Pdf{
    width: 95px;
    height: 31px;
    border-radius: 9px 9px 9px 9px;
    position: absolute;
    left: 38%;
    z-index: 1;
    top: 30px;
}

.Primera-Mitad-Fecha-Expiracion-Promocion-Pdf{
    width: 40%;
    height: 31px;
    position: absolute;
    left: 0;
    top: -1px;
}

.Segunda-Mitad-Fecha-Expiracion-Promocion-Pdf{
    width: 60%;
    height: 31px;
    position: absolute;
    right: 5px;
    top: 0;
}

.Texto-Inicio-Fecha-Expiracion-Pdf{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 0.01em;
    color: #FFFFFF;
    position: absolute;
    right: 3px;
    top: -5px;
}

.Texto-Fin-Fecha-Expiracion-Pdf{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 0.01em;
    color: #FFFFFF;
    position: absolute;
    right: 3px;
    top: 5;
}

.img-calendario-expiracion-pdf{
    width: 30px;
    padding-top: 2px;
    padding-left: 10px;
    border-radius: 5px 0px 0px 5px;
}

.titulo_caratula_pdf{

    position: absolute;
    width: 560px;
    height: 122px;
    left: 615px;
    top: 180px;
    padding: 0%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* font-family: 'Segoe UI'; */
    font-style: normal;
    font-weight: bold;
    font-size: 90px;
    line-height: 104.06%;
    /* or 61px */
    text-align: center;
    color: #FFFFFF;
    
}

.subtitulo_caratula_pdf{
    
    /* background: #4157BD; */
    border-radius: 8px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 24px;
    /* identical to box height */
    letter-spacing: 0.01em;
    text-align: center;
    color: #FFFFFF;
    /* padding: 10px 10px 10px 10px; */
    align-items: center;
    
    /* position: absolute; */
    /* padding: 10px;
    height: 20px; */
    /* left: 45%; */
    margin-top: 23%;
}

.Img-Icono-Categoria-Pdf{
    position: absolute;
    left: 50px;
    top: 38px;
    width: 40px;
}

.Texto-Titulo-Indice-Promociones{
    position: absolute;
    right: 470px;
    top: 500px;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 120px;
    line-height: 24px;
    letter-spacing: 0.01em;
    color: #558CFF;
}

.Contenedor-Tarjetas-Categorias-Indice-Pdf{
    position: absolute;
    right: 0;
    width: 400px;
    height: 1200px;
    /* background-color: black; */
    /* margin-top: 140px; */
    margin-right: 40px;
    align-items: center;
    text-align: center;
    /* display: flex; */
}

.Icono-Indice-Promociones-Pdf{
    width: 490px;
}




.Contenedor-Todo-Pdf{
    width: 100%;
    /* background-color: blueviolet; */
    height: 1125px;
    position: absolute;
    top: 0;
    left: 0;
}

.Texto-Dt-Todo-Pdf{
    align-items: center;
    text-align: center;

}

.Texto-Numero-Pagina-Pdf{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 16px;
    /* color: #E41A37; */
    position: absolute;
    bottom: 109px;
    right: 100px;
}